<h3>Cadastro de Professores</h3>
    <p>form de Professores</p>

    <form action="/students/create" method="POST">
      <div class="input-field col s12">
        <input id="name" type="text" name="name" class="validate" required>
        <label for="name">Nome</label>
      </div>

      <div class="input-field col s12">
        <input id="registration" type="text" name="registration" class="validate" required>
        <label for="registration">Matricula</label>
      </div>
      <div class="input-field col s12">
        <input id="email" type="email" name="email" class="validate" required>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="phone" type="text" name="phone" class="validate" required>
        <label for="phone">Telefone</label>
      </div>
    </form>